@font-face {
    font-family: D-DIN-Medium;
    src: url(fonts/D-DIN.woff2) format("woff2"),
      url(fonts/D-DIN.woff) format("woff"),
      url(fonts/D-DIN.otf) format("opentype");
    font-style: normal;
    font-weight: 400;
    font-display: block;
  }
  @font-face {
    font-family: D-DIN-Light;
    src: url(fonts/D-DIN.woff2) format("woff2"),
      url(fonts/D-DIN.woff) format("woff"),
      url(fonts/D-DIN.otf) format("opentype");
    font-style: normal;
    font-weight: 400;
    font-display: block;
  }
  @font-face {
    font-family: D-DIN-Bold;
    src: url(fonts/D-DIN-Bold.woff2) format("woff2"),
      url(fonts/D-DIN-Bold.woff) format("woff"),
      url(fonts/D-DIN-Bold.otf) format("opentype");
    font-style: normal;
    font-weight: 400;
    font-display: block;
  }
  @font-face {
    font-family: D-DIN-Regular;
    src: url(fonts/D-DIN.woff2) format("woff2"),
      url(fonts/D-DIN.woff) format("woff"),
      url(fonts/D-DIN.otf) format("opentype");
    font-style: normal;
    font-weight: 400;
    font-display: block;
  }

body{
    margin: 0px;
    font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
    overflow-y: scroll;   
    background-color: black;
    overflow-x: hidden;
}


 /* Header Styles */
 .navigation {
  display: flex;
  align-items: flex-end;
  justify-content: stretch;
  padding-top: 25px;
  background: transparent; /* Semi-transparent black */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  gap: 0;
  transition: background-color 0.3s, opacity 0.3s;  /* Smooth  */
}
.navigation.transparent {
  background-color: transparent; /* transparent background */
  opacity: 0; /* Reduced visibility */
}



/* Navbar Styles */
.navbar ul {
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: stretch;

  gap: 30px;
  text-transform: uppercase;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  
  position: relative;
 
}


.navbar ul li a::after{
  content: '';
  height: 3px;
  width: 100%;
  background: white;
  position: absolute;
  left: 0;
  bottom: -10px;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.6s;
}
.navbar ul li a:hover::after{
  transform: scaleX(1);
  transform-origin: left center;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  width: 100%;
  height: 100px;
  padding: 0 30px;
}
/* Logo */

.logo {
  width: 210px;
  height: auto;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
}

/* Desktop Menu */

.desktop-main-menu {
  margin-right: 75px;
  
}

.desktop-main-menu ul {
  display: flex;
}

.desktop-main-menu ul li {
  position: relative;
  margin-right: 20px;
  padding-bottom: 2px;
}

/* Menu Item Bottom Border */

.desktop-main-menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: white;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}
  
.hamburger {
  position: fixed;
  top: 40px;
  right: 20px;
  z-index: 10;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(5px);
}

.hamburger-bottom {
  transform: translateY(10px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Overlay */

.overlay-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.stop-scrolling {
  overflow: hidden;
}

/* Hide Mobile Main Items */

.mobile-only {
  display: none;
}

/* Mobile Menu */

.mobile-main-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background-color: black;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Bring Menu from Right */

.show-menu {
  transform: translateX(0);
}

.mobile-main-menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.mobile-main-menu ul li {
  border-bottom: 1px dotted #555;
  font-size: 18px;
  margin-bottom: 20px;
  padding-bottom: 8px;
  text-align: right;
  width: 100%;
}

.mobile-main-menu ul li a {
  color: #fff;
  transition: color 0.6s;
}

.mobile-main-menu ul li a:hover {
  color: #aaa;
}

@media (max-width: 600px) {
  .logo {
    width: 150px;
    margin: auto;
  }
}


/* Responsive Styles */
@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 60px;
    right: 20px;
    border-radius: 5px;
    padding: 10px;
  }

  .navbar ul.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}

@media (max-width: 960px) {
  /* Hide Desktop Menu */

  .desktop-main-menu {
    display: none;
  }

  /* Show Mobile Main Items */

  .mobile-only {
    display: block;
  }
}
h1{
    text-transform: uppercase;
    font-size: 48px;
    margin-top: 0;

}
section button{
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 15px;
  width: 150px;
  font-size: 15px;
  position: relative; /* Add relative positioning */
  overflow: hidden; /* Prevent pseudo-element overflow */
  z-index: 1; /* Ensure the button content is on top */
}
section button::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Match button width */
  height: 100%; /* Match button height */
  background: #fff;
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 0.6s;
  z-index: -1;
  
}
section button:hover{
  cursor: pointer;
  color: black;
}

section button:hover:after{
  transform: scaleY(1);
  transform-origin: bottom center;
  
}

  section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    z-index: 0;
  }
  .inner-Text{
    text-align: left;
    position: absolute;
    bottom: 100px;
    left: 60px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

#partOne video{
    z-index:-1;
    top:0;
    left:0;
    height: 100vh;
      width: auto;
}
  #partTwo{
    background-image: url('./Assets/NROL_126_OS_56_Wide_Streak_6812_Desktop_57a6be2bbf.jpg');
  }
  #partThree{
    background-image: url('./Assets/Starlink_6_65_Streak_DESKTOP_1_fda427081c.jpg');
  }
  #partFour{
    background-image: url('./Assets/Eva_Suit_Desktop_alternate_1cf9bae18e.jpg');
  }
  #partFive{
    background-image: url('./Assets/make_life_multiplanetary_desktop_3fa7cff73c.jpg');
  }
   
   
  
     footer{
      display: flex;
      justify-content: center;
      align-items: center;
     width: 100%;
     height: 50px;
      color: white;
      background-color: black;
     }
     .for-Text {
     display: flex;
     gap: 30px;
     font-size: 12px;
     
     transition: background-color 0.3s, opacity 0.3s;
     }
     .item:hover{
      color:rgb(131, 133, 131);
      cursor: pointer;
    }